@media screen and ( max-width: 1240px )
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 810px )
  .hero
    &__content
      min-width: 35.7rem

      
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.3rem
  .card
    &__text
      margin-left: 0

@media screen and ( max-width: 570px )
  .header
    height: 4.7rem
  .menu
    &__logo
      margin-left: -0.9rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &::after
      display: none
    &__title
      min-width: 2rem
    &__scroll-down
      display: none
    &__content
      min-width: 24.14rem
      margin-left: 14px
      margin-top: 1.7rem
    &__text
      font-size: 1.29rem
      margin-bottom: 2.28rem
      line-height: 2.2rem
    &__button
      display: block
      min-width: 28rem
      width: 100%
      margin-top: 1.5rem
      margin-bottom: 1.4rem
  .button
    &--outline
        margin-top: 2.5rem

    &__title
      margin-bottom: 1.5rem


@media screen and ( max-width: 570px )
  .section
    &__subtitle
      max-width: 21.71rem
      line-height: 1.5rem
    &-title__heading
      font-size: 1.75rem
  .types
    &__card
       margin-bottom: 6.35rem
  .design
    &__card
      margin-bottom: 5.85rem
  .card
    min-width: 28rem
    &__text
      margin-top: -12rem
      max-width: 22rem
      ul
        .after-element:after
          content: '...'
          
        li:nth-child(n+8)
          display: none
    &__text-design
      margin-top: -12rem
      max-width: 22rem
    &__pricetag
       padding: 0.9rem 2.6rem
    &__pricetag--big
       padding: 0.9rem 3.8rem

@media screen and ( max-width: 375px )
  .hero
    font-size: 20px
  .button--primary
    width: 20px
      

@media screen and ( max-height: 545px )
  .hero
    &__scroll-down
      display: none