@media screen and ( max-width: 1240px )
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem

@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0

@media screen and ( max-width: 810px )
  .hero
    &__content
      min-width: 35.7rem
      
@media screen and ( max-width: 760px )
  .col-100
    width: 80%
  .swiper
    &-slide
      margin-bottom: 3.78rem
      &__img
        margin-top: 5rem
    &-pagination
      margin-top: -1.25rem
      &-bullet
        margin-left: 1.3rem

      
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 4.3rem
  .card
    &__text
      margin-left: 0

@media screen and ( max-width: 570px )
  .header
    height: 4.7rem
  .menu
    &__logo
      margin-left: -1.3rem
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.64rem
  .hero
    &::after
      display: none
    &__title
      min-width: 2rem
      font-size: 1.92rem
    &__scroll-down
      display: none
    &__content
      min-width: 27rem
      margin-left: 14px
      margin-bottom: 4.5rem
    &__text
      font-size: 1.52rem
      margin-top: -1rem
      margin-bottom: 2.28rem
      line-height: 2.2rem
    &__button
      display: block
      min-width: 28.2rem
      width: 100%
      margin-top: 1.5rem
      margin-bottom: 2.5rem
    &__title
      margin-bottom: 1.5rem


@media screen and ( max-width: 570px )
  .types
    &__card
       margin-bottom: 6.35rem
  .design
    &__card
      margin-bottom: 6.5rem
  .card
    min-width: 28rem
    margin-top: 1.3rem
    &--pp
      margin-top: 1rem
    &__item
      line-height: 1.87rem
    &__text
      margin-top: -11.8rem
      max-width: 22.5rem
      padding-left: 2.45rem
      max-height: 20rem
      &--pp
        margin-top: -11.59rem
      ul
        .after-element:after
          content: '...'
          
        li:nth-child(n+8)
          display: none
    &__text-design
      margin-top: -12rem
      max-width: 22rem
    &__pricetag
       padding: 0.9rem 2.6rem
    &__pricetag--big
       padding: 0.9rem 3.8rem
  .col-30
    flex-basis: 32%
    margin-bottom: -0.6rem

      //DESIGN PROJECT

@media screen and ( max-width: 570px )
  .section-design
    background-color: $dark
    color: $light
    &__subtitle
      max-width: 25rem  
      font-size: 1.3rem
      line-height: 1.7rem
      margin-bottom: 0
      margin-bottom: 2.15rem
  .design__card
    margin-bottom: 6.2rem
  .card
    &__list
      margin-bottom: 1.4rem
    &__text-design
      margin-top: -11.8rem
      max-width: 22.45rem

      //Slider

  
@media screen and ( max-width: 570px )
  .section
    &-title
      &__text
        font-size: 1.2rem
        line-height: 1.96rem
        max-width: 25rem
      &__heading
        font-size: 1.8rem
        margin-bottom: 1.7rem
        line-height: 2.39rem
  .swiper
    &-pagination
      margin-top: -1.25rem
      &-bullet
        margin-left: 1.5rem
        width: 9px
        height: 9px
    &-slide
      margin-top: 0.5rem
      &__word
        display: block
        margin-top: 0.5rem
      &__text
        margin-bottom: -0.9rem
      &__value
        font-size: 1.2rem
      &__img
        max-height: 16.8rem
    &-button
      &-prev, &-next
        //
  .button-wrap
    margin-top: 3.7rem

  .col-100
    margin-left: -1.8rem
    width: 100%
    &--margin
      margin-top: 2.25rem

      //MODAL

@media screen and ( max-width: 370px )
  .hero
    &__button
      min-width: 1rem
      

@media screen and ( max-height: 545px )
  .hero
    &__scroll-down
      display: none